<h3>Add Target User Type</h3>
<form #form="ngForm" (ngSubmit)="dialogRef.close(form.value)" ngNativeValidate>
  <div fxLayout="column" fxLayoutGap="8px">

    <mat-form-field>
      <input matInput [(ngModel)]="userTypeName" name="userTypeName" placeholder="Name" required>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput [(ngModel)]="matchingCriteria" name="matchingCriteria" placeholder="Matching Criteria" cols="60" required></textarea>
    </mat-form-field>

  </div>

  <div>
    <h4>Target User Types</h4>
    <p *ngFor="let type of targetUserTypes; let i = index">{{type.userTypeName}}</p>
  </div>

  <mat-dialog-actions align="end">
    <button mat-button type="button" (click)="dialogRef.close()">Cancel</button>
    <button mat-button color="accent">Save</button>
  </mat-dialog-actions>
</form>
